:root {
    --background-color: #FFFFFF;
}

.body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.foterstyle {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logotype {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
    
}

.sectionone {
    background-color: #2e2f42;
    padding: 188px 0 188px;
}

.titleone {
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}

.button:hover {
    background-color: #404BBF
}

.button:focus {
    background-color: #404BBF
}

.titletwo {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.titlethree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}




.listparagraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team{

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.sectionfour {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.listitemtwo {
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.linktwo {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.span {
    color: #f4f4fd;
}

.list {
    list-style: none;
}

.spantwo {
    color: #2e2f42;
}

.headerlink {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}

.headerlink:hover {
    color: #404bbf;
}

.headerlink:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}


.link {
    text-decoration: none;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover {
    color: #404bbf;
}

.mail:focus {
    color: #404bbf
}

.buttontwo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.buttontwo:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.buttontwo:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.sectionfive {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.div {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.connection {
    display: flex;
    gap: 40px;
}
.sectiontwo{ padding: 120px 0;}
.planlist{display: flex;
gap: 24px;}
.listone{flex-basis: calc((100% - 72px) / 4);}
.sectionthree{padding-bottom: 120px;}
.listik{flex-basis: calc((100% - 48px) / 3)}
.workers{ padding: 32px 0 ;}
.logotypetwo {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;}
    .headertwo{ border-bottom: 1px solid #e7e9fc}
    .sectionsix{ padding: 96px 0 120px 0;
    }
    .invis{visibility: hidden;}
